.splitcontentleft
  - if @planning_managers.any?
    %table.list.users
      %thead
        %tr
          %th= l(:label_manager)
          %th= l(:label_workers)
          %th{:style=>"width:15%"}
      %tbody
        - @planning_managers.sort_by{ |m| m.user }.each do |member|
          %tr{:id=>"user-#{member.user_id}", :class => cycle('odd', 'even')}
            %td.user
              = link_to_user member.user
            %td.workers
              - member.workers.each do |user|
                = link_to_user user
                %br
            %td.buttons
              = link_to l(:button_edit), {:action => 'edit', :id => member.id}, :class => 'icon icon-edit'
              = link_to l(:button_delete), planning_manager_path(member), :confirm => l(:text_are_you_sure), :method => :delete, :class => 'icon icon-del'
  - else
    %p.nodata
      = l(:label_no_data)

.splitcontentright
  #tab-content-users
    - if @manager_candidates.any?
      - form = form_for :planning_manager, :html => {:class => :edit_group} do |f|
        %fieldset
          %legend
            =l(:label_planning_manager_new)
          - if Rails::VERSION::MAJOR >= 3
            :css
              input#manager_search {width:100%}
              input#manager_search {
                background: url(../images/magnifier.png) no-repeat 2px 50%; padding-left:20px;
                border:1px solid #9EB1C2; border-radius:3px; height:1.5em; width:95%;
              }
              input#manager_search.ajax-loading {
               background-image: url(../images/loading.gif);
              }
              #users{
                height: 200px;
                overflow: auto;
              }
              #users label {
                display: block;
              }

            %p
              = label_tag :manager_search, l(:label_user_search)
              = text_field_tag :manager_search, nil
            = javascript_tag "observeSearchfield('manager_search', 'users', '#{ escape_javascript url_for(:controller => :planning_managers, :action => :autocomplete_for_manager) }')"

          #users
            = principals_check_box_tags 'manager_ids[]', @manager_candidates

          %p= submit_tag l(:button_add)
      = form if Rails::VERSION::MAJOR >= 3
