.splitcontentleft
  - if @planning_managers.any?
    %table.list.users
      %thead
        %tr
          %th= l(:label_manager)
          %th= l(:label_workers)
          %th{:style=>"width:15%"}
      %tbody
        - @planning_managers.sort_by{ |m| m.user }.each do |member|
          %tr{:id=>"user-#{member.user_id}", :class => cycle('odd', 'even')}
            %td.user
              = link_to_user member.user
            %td.workers
              - member.workers.each do |user|
                = link_to_user user
                %br
            %td.buttons
              = link_to l(:button_edit), {:action => 'edit', :id => member.id}, :class => 'icon icon-edit'
              = link_to l(:button_delete), planning_manager_path(member), :confirm => l(:text_are_you_sure), :method => :delete, :class => 'icon icon-del'
  - else
    %p.nodata
      = l(:label_no_data)

.splitcontentright
  #tab-content-users
    - managers = User.active.not_planning_managers.all(:order => "lastname, firstname")
    - if managers.any?
      - if Rails::VERSION::MAJOR >= 3
        = form_for :planning_manager, :html => {:class => :edit_group} do |f|
          %fieldset
            %legend
              =l(:label_planning_manager_new)
            #users
              = principals_check_box_tags 'manager_ids[]', managers

            %p= submit_tag l(:button_add)
      - else
        - form_for :planning_manager, :html => {:class => :edit_group} do |f|
          %fieldset
            %legend
              =l(:label_planning_manager_new)
            #users
              = principals_check_box_tags 'manager_ids[]', managers

            %p= submit_tag l(:button_add)  
