%h2
  = link_to l(:label_planning_manager_plural), planning_managers_path
  &#187; 
  = l(:label_planning_manager_new)

- labelled_form_for @planning_manager do |f|
  = render :partial => 'form', :locals => { :f => f, :candidates => @candidates}
  %p
    = f.submit l(:button_create)
    = f.submit l(:button_create_and_continue), :name => 'continue'
