= labelled_form_for @issue, :html => {:id => 'issue-form', :multipart => true} do |f|
  = error_messages_for 'issue', 'time_entry'
  = render :partial => 'conflict' if @conflict
  .box
    - if @edit_allowed || !@allowed_statuses.empty?
      %fieldset.tabular
        %legend= l(:label_change_properties)
        #all_attributes
          = render :partial => 'form', :locals => {:f => f}

    - if User.current.allowed_to?(:log_time, @project) && ((@issue.assigned_to == User.current) || ((@issue.assigned_to.class == Group)&&(@issue.assigned_to.users.include?(User.current)))) #&& @issue.leaf?
      %fieldset.tabular
        %legend= l(:button_log_time)
        = labelled_fields_for :time_entry, @time_entry do |time_entry|
          .splitcontentleft
            %p
              = time_entry.text_field :hours, :size => 6, :label => :label_spent_time
              = l(:field_hours)
          .splitcontentright
            %p= time_entry.select :activity_id, activity_collection_for_select_options
          %p= time_entry.text_field :comments, :size => 60
          - @time_entry.custom_field_values.each do |value|
            %p= custom_field_tag_with_label :time_entry, value

    %fieldset
      %legend= l(:field_notes)
      = f.text_area :notes, :cols => 60, :rows => 10, :class => 'wiki-edit', :no_label => true
      = wikitoolbar_for 'issue_notes'

      - if @issue.safe_attribute? 'private_notes'
        %label{:for=>"issue_private_notes"}
          = f.check_box :private_notes, :no_label => true
          = l(:field_private_notes)

      = call_hook(:view_issues_edit_notes_bottom, { :issue => @issue, :notes => @notes, :form => f })

    %fieldset
      %legend= l(:label_attachment_plural)
      %p= render :partial => 'attachments/form', :locals => {:container => @issue}

  = f.hidden_field :lock_version
  = hidden_field_tag 'last_journal_id', params[:last_journal_id] || @issue.last_journal_id
  = submit_tag l(:button_submit)
  = preview_link preview_edit_issue_path(:project_id => @project, :id => @issue), 'issue-form'

#preview.wiki
