- confirmations.each do |confirm|
  - issue = confirm.issue
  - hours = 0.0
  - confirmation = PlanningConfirmation.where(issue_id: issue.try(:id), date_start: @current_date.beginning_of_week, user_id: user.try(:id)).first
  - 7.times do |day|
    - hours += strip_tags(show_spent_for_user(issue, day, user)).to_f
  - if hours > 0.0
    %tr.even{:class => "user_#{user.try(:id)}_issues #{'users_issues' if user.present?} #{issue.css_classes}"}
      %td.id
        = link_to issue.id, issue_path(issue), :title => issue.subject
      %td.subject
        = link_to issue.subject, issue_path(issue), :title => issue.project
        = "(#{issue.status})"
      - unless user
        %td.author
          = link_to_user user
      %td.deadline{:align => :center}
        = issue_dates(issue)
      - 7.times do |day|
        %td{:align=>:center, :style => "border-right-width:3px;"}
          = show_spent_for_user(issue, day, user)
      %td
        - if hours > 0.0
          = link_to html_hours("%.2f" % sum_spent_for_issue(issue)), {:controller => 'timelog', :action => 'index', :project_id => issue.project, :issue_id => issue, :period_type => 1, :user_id => user.try(:id)}
          %br
          (
          = link_to html_hours("%.2f" % sum_spent_for_user_issue(issue, user)), {:controller => 'timelog', :action => 'index', :project_id => issue.project, :issue_id => issue, :period_type => 1, :user_id => user.try(:id)}, :title => comments_spent_for_user_issue(issue, user)
          )
        - else
          = "-"
      %td
        - if issue.estimated_hours.to_f > 0.0
          = link_to html_hours("%.2f" % issue.estimated_hours), "/issues/#{issue.id}"
        - else
          = "-"
      %td{:align=>:center, :style => "border-left-width:3px;", :class => "odd"}
        - if issue.project.is_external
          %div
            = radio_button_tag "kgip_check#{user.id}_#{issue.id}", "1", is_confirmer_checked_conf(@current_date.beginning_of_week, issue, user, :kgip_confirmation) == true, :title=> title_name_kgip(issue), :disabled => (@confirm_role == 1) || issue.project.kgip_members.empty? , :onclick =>"update_confirmer('1','#{url_for_confirmation(confirmation, @current_date.beginning_of_week, issue, user, "0", hours, issue.project.kgips.first.id)}', '#{confirmation.nil? ? :post : :put}')"
            = l(:label_yes)
            = radio_button_tag "kgip_check#{user.id}_#{issue.id}", "0", is_confirmer_checked_conf(@current_date.beginning_of_week, issue, user, :kgip_confirmation) == false, :title=> title_name_kgip(issue), :disabled => (@confirm_role == 1) || issue.project.kgip_members.empty? , :onclick =>"update_confirmer('0','#{url_for_confirmation(confirmation, @current_date.beginning_of_week, issue, user, "0", hours, issue.project.kgips.first.id)}', '#{confirmation.nil? ? :post : :put}')"
            = l(:label_no)
          %div{id: "add_comment_kgip_#{user.id}_#{issue.id}"}
          %div{id: "comments-box-ctype0-id#{issue.id}"}
            = render partial: 'planning_confirmations/comments', locals: {ctype: 0, confirm: confirm, comments: (confirmation.try(:planning_confirmation_comments).try(:kgips) || [])}
        - else
          = "-"
      %td{:align=>:center, :style => "border-left-width:3px;", :class => "odd"}
        %div
          = radio_button_tag "head_check#{user.id}_#{issue.id}", "1", is_confirmer_checked_conf(@current_date.beginning_of_week, issue, user, :head_confirmation) == true, :title=> title_name_head(confirm.head_id), :disabled => (@confirm_role == 0), :onclick =>"update_confirmer('1','#{url_for_confirmation(confirmation, @current_date.beginning_of_week, issue, user, "1", hours,confirm.head_id)}', '#{confirmation.nil? ? :post : :put}')"
          = l(:label_yes)
          = radio_button_tag "head_check#{user.id}_#{issue.id}", "0", is_confirmer_checked_conf(@current_date.beginning_of_week, issue, user, :head_confirmation) == false, :title=> title_name_head(confirm.head_id), :disabled => (@confirm_role == 0), :onclick =>"update_confirmer('0','#{url_for_confirmation(confirmation, @current_date.beginning_of_week, issue, user, "1", hours,confirm.head_id)}', '#{confirmation.nil? ? :post : :put}')"
          = l(:label_no)
        %div{id: "add_comment_head_#{user.id}_#{issue.id}"}
        %div{id: "comments-box-ctype1-id#{user.id}-#{issue.id}"}
          = render partial: 'planning_confirmations/comments', locals: {ctype: 1, confirm: confirm, comments: (confirmation.planning_confirmation_comments rescue [])}
