%table.list
  %tbody
    - @user_confirmations.each do |user, project_confirmations|
      - if user.present?
        %tr.user_head
          %th{:colspan => 14, :align => :center}
            = link_to_function user.name, "open_close_user_item('.user_#{user.try(:id)}_issues', this);", class: 'closed'
      - project_confirmations.each do |project, issues|
        - if project.present?
          %tr{class: "user_#{user.try(:id)}_issues #{'users_issues' if user.present?}"}
            %th{:colspan => 14, :align => :center}
              = link_to project.name, {:controller => :projects, action: :show, :id => project.identifier}
        %tr.head{class: "user_#{user.try(:id)}_issues #{'users_issues' if user.present?}"}
          %th="#"
          %th= l(:field_subject)
          - unless user
            %th= l(:field_assigned_to)
          %th= l(:field_deadline)
          - 7.times do |day|
            %th= (@current_date + day.days).strftime("%d.%m")
          %th= l(:label_total)
          %th= l(:label_estimated_hours)
          %th= l(:label_planning_kgip)
          %th= l(:label_planning_head)
        = render partial: 'estimated_times/confirm_time', locals: {issues: issues, user: user, project: project}
