%table.list
  %tbody
    - @user_confirmations.each do |user, project_confirmations|
      - if user.present?
        %tr.user_head
          %th{:colspan => 14, :align => :center}
            = link_to_function user.name, "open_close_user_item('.user_#{user.try(:id)}_issues', this);", class: 'closed'
      - project_confirmations.each do |project, confirmations|
        - if project.present?
          %tr{class: "user_#{user.try(:id)}_issues #{'users_issues' if user.present?}"}
            %th{:colspan => 14, :align => :center}
              = link_to project.name, {:controller => :projects, action: :show, :id => project.identifier}
        %tr.head{class: "user_#{user.try(:id)}_issues #{'users_issues' if user.present?}"}
          %th="#"
          %th= l(:field_subject)
          - unless user
            %th= l(:field_assigned_to)
          %th= l(:field_deadline)
          - 7.times do |day|
            %th= (@current_date + day.days).strftime("%d.%m")
          %th= l(:label_total)
          %th= l(:label_planning_KGIP)
          %th= l(:label_planning_head)
        - confirmations.each do |confirmation|
          - issue = confirmation.issue
          - hours = 0.0
          - 7.times do |day|
            - hours += strip_tags(show_spent_for_user(issue, day, confirmation.user)).to_f
          - if hours > 0.0
            %tr.even{:class => "user_#{user.try(:id)}_issues #{'users_issues' if user.present?} #{issue.css_classes}"}
              %td.id
                = link_to issue.id, issue_path(issue), :title => issue.subject
              %td.subject
                = link_to issue.subject, issue_path(issue), :title => issue.project
                = "(#{issue.status})"
              - unless user
                %td.author
                  = link_to_user confirmation.user
              %td.deadline{:align => :center}
                = issue_dates(issue)
              - 7.times do |day|
                %td{:align=>:center, :style => "border-right-width:3px;"}
                  = show_spent_for_user(issue, day, confirmation.user)
              %td
                - if hours > 0.0
                  = link_to html_hours("%.2f" % hours), {:controller => 'timelog', :action => 'index', :project_id => issue.project, :issue_id => issue, :period_type => 1, :user_id => confirmation.user.try(:id)}, :title => @time_entries.where("spent_on BETWEEN ? AND ?", @current_date, @current_date+7.days).select{ |te| te.issue_id == issue.id }.sort_by(&:spent_on).map(&:comments).join("\r")
                - else
                  = "-"
              %td{:align=>:center, :style => "border-left-width:3px;", :class => "odd"}
                - if issue.project.is_external && (issue.start_date <= (@current_date + 5)) && (issue.due_date >= @current_date)
                  = check_box_tag :kgip_check, "1", is_confirmer_checked_conf(confirmation, :KGIP_confirmation), :title=> title_name_kgip(confirmation.issue), :disabled => (@confirm_role == 1) || issue.project.kgip_members.empty? , :onclick =>"update_confirmer(this,'#{url_for({:controller => :planning_confirmations, :action => :update_confirmer, :type => "0", :id => confirmation.try(:id), hours: hours, :format => 'js'})}')"
                - else
                  = "-"
              %td{:align=>:center, :style => "border-left-width:3px;", :class => "odd"}
                - if (issue.start_date <= (@current_date + 5)) && (issue.due_date >= @current_date)
                  = check_box_tag :head_check, "1", is_confirmer_checked_conf(confirmation, :head_confirmation), :title=> title_name_head(confirmation.head_id), :disabled => (@confirm_role == 0), :onclick =>"update_confirmer(this,'#{url_for({:controller => :planning_confirmations, :action => :update_confirmer, :id => confirmation.id, :type => "1", hours: hours, :format => 'js'})}')"
                - else
                  = "-"