= error_messages_for 'estimated_times'
= back_url_hidden_field_tag
= hidden_field_tag :current_date, params[:current_date]

.box.tabular
  %p
    = f.select :issue_id, @assigned_issues.map{ |i| [h("#{i.tracker.name} ##{i.id}: #{i.subject}"), i.id] }, :include_blank => true, :required => true
  %p
    = f.text_field :plan_on, :size => 10, :required => true
    = calendar_for('estimated_time_plan_on')
  %p
    = f.text_field :hours, :size => 6, :required => true
  %p
    = f.text_field :comments, :size => 100
