.autoscroll
  %table.list.time-entries
    %thead
      %tr
        %th= l(:label_date)
        %th= l(:label_member)
        %th= l(:label_project)
        %th= l(:label_issue)
        %th= l(:field_comments)
        %th= l(:field_hours)
    %tbody
      - entries.each do |entry|
        %tr{:style => cycle("odd", "even")}
          %td.spent_on
            = format_date(entry.spent_on)
          %td.user
            = link_to_user(entry.user)
          %td.project
            = link_to_project(entry.project)
          %td.subject
            - if entry.issue
              = entry.issue.visible? ? link_to_issue(entry.issue, :truncate => 50) : "##{entry.issue.id}"
          %td.comments
            =h entry.comments
          %td.hours
            = html_hours("%.2f" % entry.hours)
