:javascript
  function update_confirmer(status,url, method){
      $.ajax({url: url,
          data: { status: status },
          type: method,
          dataType: 'script'})
  }
  function open_close_user_item(selector, item){
    if ($(item).hasClass( "closed" )){
      $(item).removeClass('closed').addClass('opened');
      $(selector).show();
    } else {
      $(item).addClass('closed').removeClass('opened');
      $(selector).hide();
    }
  }

.confirm_time
  .contextual
    = link_to t(:label_week_ago), params.merge(:current_date => @current_date - 1.week)
    = " | "
    = form_tag '', :method => :get, turboform: true do
      = hidden_field_tag :current_user_id, @current_user.try(:id)
      = hidden_field_tag :confirm_role, @confirm_role
      - confirm_filters.each do |key|
        - if params[:"confirm_#{key}"].present?
          = hidden_field_tag :"confirm_#{key}", params[:"confirm_#{key}"]
      - if @project.present?
        = hidden_field_tag :project_id, @project.identifier
      %select{:id => :current_date, :name => :current_date, :class => "small", :onchange => "this.form.submit(); return false;"}
        - @current_dates.each do |cur_date|
          - if @current_date == cur_date
            %option{:value => cur_date, :selected => "selected"}
              = format_date(cur_date)
          - else
            %option{:value => cur_date}
              = format_date(cur_date)
    = %{ | #{ link_to t(:label_next_week), params.merge(current_date: @current_date + 1.week)}}.html_safe if (@current_date + 2.week) <= Date.today


  %h2=l(:label_confirm_spent_time)
  - if @can_change_role
    %fieldset
      %legend= l(:label_filter_change_role)
      = form_tag '', :method => :get, turboform: true do
        = hidden_field_tag :current_date, @current_date
        - if @project.present?
          = hidden_field_tag :project_id, @project.identifier
          = hidden_field_tag :current_user_id, @current_user.try(:id)
        - confirm_filters.each do |key|
          - if params[:"confirm_#{key}"].present?
            = hidden_field_tag :"confirm_#{key}", params[:"confirm_#{key}"]
        %p
          = radio_button_tag :confirm_role, 1, @confirm_role == 1, :onchange => "this.form.submit(); return false;"
          Сотрудники подразделения
        %p
          = radio_button_tag :confirm_role, 0, @confirm_role == 0, :onchange => "this.form.submit(); return false;"
          Участники проекта

  %fieldset
    %legend= l(:label_filter_plural)
    = form_tag '', :method => :get, turboform: true do
      = hidden_field_tag :current_date, @current_date
      = hidden_field_tag :confirm_role, @confirm_role
      - if @project.present?
        = hidden_field_tag :project_id, @project.identifier
      - confirm_filters.each do |key|
        - if params[:"confirm_#{key}"].present?
          = hidden_field_tag :"confirm_#{key}", params[:"confirm_#{key}"]
      %label{:for=>'current_user_id'}= l(:field_user) + ":"
      %select{:id => 'current_user_id', :name => 'current_user_id', :class => "small", :onchange => "this.form.submit(); return false;"}
        %option{:value => "", :selected => @current_user.nil? ? "selected" : nil}
          <Все>
        - @users.each do |user|
          - if @current_user.try(:id) == user.id
            %option{:value => user.id, :selected => "selected"}
              = user.name
          - else
            %option{:value => user.id}
              = user.name

    = form_tag '', :method => :get, turboform: true do
      = hidden_field_tag :current_date, @current_date
      = hidden_field_tag :current_user_id, @current_user.try(:id)
      = hidden_field_tag :confirm_role, @confirm_role
      - confirm_filters.each do |key|
        - if params[:"confirm_#{key}"].present?
          = hidden_field_tag :"confirm_#{key}", params[:"confirm_#{key}"]
      %label{:for=>'project_id'}= l(:field_project) + ":"
      %select{:id => 'project_id', :name => 'project_id', :class => "small", :onchange => "this.form.submit(); return false;"}
        %option{:value => ""}
          = l(:label_project_all)
        - @project_lists.each do |project|
          - if params[:project_id] == project.identifier
            %option{:value => project.identifier, :selected => "selected"}
              = project.name
          - else
            %option{:value => project.identifier}
              = project.name
    %br

    - if @planning_preference
      - confirm_filters.each do |key|
        - if params[:"confirm_#{key}"].present?
          %span= l(:"label_confirm_#{key}")
        - else
          %span= l(:"label_not_confirm_#{key}")
        = " / " unless key == confirm_filters.last
    - else
      - confirm_filters.each do |key|
        - if params[:"confirm_#{key}"].present?
          = link_to l(:"label_confirm_#{key}"), params.merge( :"confirm_#{key}" => nil)
        - else
          = link_to l(:"label_not_confirm_#{key}"), params.merge( :"confirm_#{key}" => 1)
        = " / " unless key == confirm_filters.last

  .right{style: 'float: right;'}
    = link_to_function 'развернуть все', "$('.closed').removeClass('closed').addClass('opened'); $('.users_issues').show();"
    |
    = link_to_function 'свернуть все', "$('.opened').removeClass('opened').addClass('closed'); $('.users_issues').hide();"

  - if @assigned_issues_for_confirmations.any?
    = render partial: (@confirm_role == 1 ? 'confirm_time_head' : 'confirm_time_kgip')
  - else
    %p.nodata
      = l(:label_no_data)
