.contextual
  = link_to l(:button_delete), estimated_time_path(@estimated_time.id), :confirm => l(:text_are_you_sure), :method => :delete, :class => 'icon icon-del'

%h2= l(:label_plan_time)
- if Rails::VERSION::MAJOR >= 3
  = labelled_form_for @estimated_time, :html => {:method => :put} do |f|
    = back_url_hidden_field_tag
    = render :partial => 'form', :locals => {:f => f}
    = submit_tag l(:button_save), :disabled => false
- else
  - labelled_form_for @estimated_time, :html => {:method => :put} do |f|
    = back_url_hidden_field_tag
    = render :partial => 'form', :locals => {:f => f}
    = submit_tag l(:button_save), :disabled => false

- html_title(l(:label_estimated_time_plural))
