- current_date = Date.today - 7.days
- current_user = User.current

.contextual
  = link_to "<- неделей раньше", :current_date => current_date - 7.days
  = " | "
  = format_date(current_date)
  = " | "  
  = link_to "неделей позже ->", :current_date => current_date + 7.days  

%h2=l(:label_estimated_time_plural)

- assigned_issues = Issue.visible.open.find(:all, :conditions => {:assigned_to_id => ([User.current.id] + User.current.group_ids)}, :limit => 10, :include => [ :status, :project, :tracker, :priority ], :order => "#{IssuePriority.table_name}.position DESC, #{Issue.table_name}.updated_on DESC")

%table.list
  %thead
    %tr
      %th{:rowspan => 2}="#"
      %th{:rowspan => 2}= l(:field_subject)
      %th{:colspan => 2}= (current_date).strftime("%d.%m")
      %th{:colspan => 2}= (current_date + 1.day).strftime("%d.%m")
      %th{:colspan => 2}= (current_date + 2.days).strftime("%d.%m")
      %th{:colspan => 2}= (current_date + 3.days).strftime("%d.%m")
      %th{:colspan => 2}= (current_date + 4.days).strftime("%d.%m")
      %th{:colspan => 2}= (current_date + 5.days).strftime("%d.%m")
      %th{:colspan => 2}= (current_date + 6.days).strftime("%d.%m")
      %th{:colspan => 2}= l(:label_total)
    %tr
      - 8.times do
        %th= l(:label_plan)
        %th= l(:label_spent)
  %tbody  
    - assigned_issues.each do |issue|
      %tr
        %td.id
          = link_to issue.id, issue_path(issue), :title => issue.subject
        %td.subject
          = link_to issue.subject, issue_path(issue), :title => issue.project
          = "(#{issue.status})"
        - 7.times do |day|
          %td{:align=>:center}= rand(10)
          %td{:align=>:center}
            - if time_entries = TimeEntry.find(:all, :conditions => {:issue_id => issue.id, :spent_on => current_date + day.days, :user_id => current_user})
              - sum = time_entries.inject(0.0){ |r,i| r + i.hours}
              - if sum > 0.0
                = link_to sum, {:controller => 'timelog', :action => 'index', :project_id => issue.project, :issue_id => issue, :period_type => 2, :from => current_date + day.days, :to => current_date + day.days}, :title => time_entries.map{ |i| i.comments }.reject{ |i| i.blank? }.join("\r")
              - else
                = "-"
              
        %td{:align=>:center}= rand(10)
        %td= issue.total_spent_hours
        

- html_title(l(:label_estimated_time_plural))
