.contextual
  = link_to "неделей раньше", :current_date => @current_date - 1.week
  = " | "
  - form_tag({}, :method => :get) do
    %select{:id => :current_date, :name => :current_date, :class => "small", :onchange => "this.form.submit(); return false;"}
      %option
      - @current_dates.each do |cur_date|
        - if params[:current_date] == cur_date.to_s
          %option{:value => cur_date, :selected => "selected"}
            = format_date(cur_date)
        - else
          %option{:value => cur_date}
            = format_date(cur_date)
  = " | "  
  = link_to "неделей позже", :current_date => @current_date + 1.week

%h2=l(:label_estimated_time_plural)

%table.list
  %thead
    %tr
      %th{:rowspan => 2}="#"
      %th{:rowspan => 2}= l(:field_subject)
      %th{:rowspan => 2}= l(:field_deadline)      
      %th{:colspan => 2}= (@current_date).strftime("%d.%m")
      %th{:colspan => 2}= (@current_date + 1.day).strftime("%d.%m")
      %th{:colspan => 2}= (@current_date + 2.days).strftime("%d.%m")
      %th{:colspan => 2}= (@current_date + 3.days).strftime("%d.%m")
      %th{:colspan => 2}= (@current_date + 4.days).strftime("%d.%m")
      %th{:colspan => 2}= (@current_date + 5.days).strftime("%d.%m")
      %th{:colspan => 2}= (@current_date + 6.days).strftime("%d.%m")
      %th{:colspan => 2}= l(:label_total)
    %tr
      - 8.times do
        %th= l(:label_plan)
        %th= l(:label_spent)
  %tbody  
    - @assigned_issues.each do |issue|
      %tr
        %td.id
          = link_to issue.id, issue_path(issue), :title => issue.subject
        %td.subject
          = link_to issue.subject, issue_path(issue), :title => issue.project
          = "(#{issue.status})"
        %td.deadline{:align => :center}
          = issue.start_date.strftime("%d.%m")
          = "-"
          = format_date(issue.due_date)
        - 7.times do |day|
          %td{:align=>:center}
            = link_to "+", {:action => 'new', :estimated_time => {:plan_on => @current_date+day.days, :issue_id => issue}}
          %td{:align=>:center}
            - if time_entries = TimeEntry.find(:all, :conditions => {:issue_id => issue.id, :spent_on => @current_date + day.days, :user_id => @current_user})
              - sum = time_entries.inject(0.0){ |r,i| r + i.hours}
              - if sum > 0.0
                = link_to sum, {:controller => 'timelog', :action => 'index', :project_id => issue.project, :issue_id => issue, :period_type => 2, :from => @current_date + day.days, :to => @current_date + day.days}, :title => time_entries.map{ |i| i.comments }.reject{ |i| i.blank? }.join("\r")
              - else
                = link_to "+", {:controller => 'timelog', :action => 'new', :issue_id => issue, :time_entry => {:spent_on => @current_date+day.days}}
        %td{:align=>:center}
          = "-"
        %td
          = link_to issue.total_spent_hours, {:controller => 'timelog', :action => 'index', :project_id => issue.project, :issue_id => issue, :period_type => 1}
    %tr
      %th{:colspan => 3}
        = l(:label_total)        
      - 7.times do |day|
        %th
          = "-"
        - day_hours = @assigned_issues.map do |issue|
          - if time_entries = TimeEntry.find(:all, :conditions => {:issue_id => issue.id, :spent_on => @current_date + day.days, :user_id => @current_user})
            - time_entries.inject(0.0){ |r,i| r + i.hours}
        %th= day_hours.compact.inject(0.0){ |r,i| r + i }
      %th
      %th         

%h2= l(:label_plan_time)
- labelled_form_for @estimated_time do |f|
  = render :partial => 'form', :locals => {:f => f}
  = submit_tag l(:button_save), :disabled => false

- html_title(l(:label_estimated_time_plural))
