.contextual
  = link_to t(:label_week_ago), params.merge(:current_date => @current_date - 1.week)
  = " | "
  %form{:method => :get}
    = hidden_field_tag :current_user_id, @current_user.id
    - exclude_filters.each do |key|
      - if params[:"exclude_#{key}"].present?
        = hidden_field_tag :"exclude_#{key}", params[:"exclude_#{key}"]
    - if @project.present?
      = hidden_field_tag :project_id, @project.identifier
    %select{:id => :current_date, :name => :current_date, :class => "small", :onchange => "this.form.submit(); return false;"}
      - @current_dates.each do |cur_date|
        - if @current_date == cur_date
          %option{:value => cur_date, :selected => "selected"}
            = format_date(cur_date)
        - else
          %option{:value => cur_date}
            = format_date(cur_date)
  = " | "
  = link_to t(:label_next_week), params.merge(current_date: @current_date + 1.week)
  = " | "
  = link_to t(:label_request_for_weekend), {current_date: @current_date, action: 'weekend'}
  = " | "
  = link_to l(:label_current_users_workload), controller: 'gantts', action: 'show', set_filter: 1, assigned_to_id: @current_user.id, months: 12, month: @current_date.month, year: @current_date.year, sort: 'priority:desc,updated_on:desc'
  - if can_confirm_time_entries?
    = " | "
    = link_to l(:label_confirm_spent_time_caps), action: 'confirm_time'
  - if Redmine::Plugin.all.map(&:id).include?(:redmine_skynet)
    = " | "
    = link_to l(:label_observer), {controller: 'skynet', action: 'index'}, {target: "_blank"}

%h2=l(:label_estimated_time_plural)

%fieldset
  %legend= l(:label_filter_plural)
  %form{:method => :get}
    = hidden_field_tag :current_date, @current_date
    - exclude_filters.each do |key|
      - if params[:"exclude_#{key}"].present?
        = hidden_field_tag :"exclude_#{key}", params[:"exclude_#{key}"]
    - if @planning_manager.active_subordinates.any?
      %label{:for=>'current_user_id'}= l(:field_user) + ":"
      %select{:id => 'current_user_id', :name => 'current_user_id', :class => "small", :onchange => "this.form.submit(); return false;"}
        - @users.each do |user|
          - if @current_user.id == user.id
            %option{:value => user.id, :selected => "selected"}
              = user.name
          - else
            %option{:value => user.id}
              = user.name

  %form{:method => :get}
    = hidden_field_tag :current_date, @current_date
    = hidden_field_tag :current_user_id, @current_user.id
    - exclude_filters.each do |key|
      - if params[:"exclude_#{key}"].present?
        = hidden_field_tag :"exclude_#{key}", params[:"exclude_#{key}"]
    %label{:for=>'project_id'}= l(:field_project) + ":"
    %select{:id => 'project_id', :name => 'project_id', :class => "small", :onchange => "this.form.submit(); return false;"}
      %option{:value => ""}
        = l(:label_project_all)
      - @assigned_projects.each do |project|
        - if params[:project_id] == project.identifier
          %option{:value => project.identifier, :selected => "selected"}
            = project.name
        - else
          %option{:value => project.identifier}
            = project.name
  - if @project.present?
    = link_to l(:label_issue_new), {:controller => :issues, :project_id => @project.identifier, :action => :new}, :class => 'icon icon-add'

  %br

  - if @planning_preference
    - exclude_filters.each do |key|
      - if params[:"exclude_#{key}"].present?
        %span= l(:"label_include_#{key}")
      - else
        %span= l(:"label_exclude_#{key}")
      = " / " unless key == exclude_filters.last
  - else
    - exclude_filters.each do |key|
      - if params[:"exclude_#{key}"].present?
        = link_to l(:"label_include_#{key}"), params.merge( :"exclude_#{key}" => nil)
      - else
        = link_to l(:"label_exclude_#{key}"), params.merge( :"exclude_#{key}" => 1)
      = " / " unless key == exclude_filters.last


  = form_tag(save_planning_preferences_path) do
    - exclude_filters.each do |key|
      - if params[:"exclude_#{key}"].present?
        = hidden_field_tag :"exclude_#{key}", params[:"exclude_#{key}"]
    %span{style: 'margin-left: 20px;'}
      = check_box_tag('planning_preference_submit', @planning_preference ? 'drop' : 'save', @planning_preference ? true : false, onclick: 'this.form.submit()')
      = l(:label_planning_preferences_save)


- if @assigned_issues.any?
  %table.list
    %thead
      %tr
        %th{:rowspan => 2}="#"
        %th{:rowspan => 2}= l(:field_subject)
        %th{:rowspan => 2}= l(:field_deadline)
        - 7.times do |day|
          %th{:colspan => 2}= (@current_date + day.days).strftime("%d.%m")
        %th{:colspan => 3}= l(:label_total)
        - if Date.today.beginning_of_week > @current_date
          %th{:colspan => 2}= l(:label_confirmation)
      %tr
        - 8.times do
          %th= l(:label_plan)
          %th= l(:label_spent)
        %th= l(:label_estimated_hours)
        - if Date.today.beginning_of_week > @current_date
          %th= l(:label_planning_kgip)
          %th= l(:label_planning_head)
    %tbody
      - @project_issues.each do |project, issues|
        %tr
          - if project.present?
            %th{:colspan => ((Date.today.beginning_of_week > @current_date) ? 22 : 20), :align => :center}
              = link_to project.name, {:controller => :issues, :project_id => project.identifier, :action => :new}, :class => 'icon icon-add'
        - issues.each do |issue|
          %tr.even{:class => issue.css_classes}
            %td.id
              = link_to issue.id, issue_path(issue), :title => issue.subject
            %td.subject
              = link_to issue.subject, issue_path(issue), :title => issue.project
              = "(#{issue.status})"
            %td.deadline{:align => :center}
              = issue_dates(issue)
            - hours = 0.0
            - planned_hours = 0.0
            - 7.times do |day|
              %td{:align=>:center, :style => "border-left-width:3px;", :class => ("odd" if day >= 5)}
                - planned_hours += strip_tags(link_to_plan(issue, day)).to_f
                = link_to_plan(issue, day)
              %td{:align=>:center, :style => "border-right-width:3px;", :class => ("odd" if day >= 5)}
                - hours += strip_tags(link_to_spent(issue, day)).to_f
                = link_to_spent(issue, day)
            %td{:align=>:center}
              - if planned_hours > 0.0
                = link_to html_hours("%.2f" % planned_hours), {:action => :list, :issue_id => issue.id, :current_user_id => @current_user.id}, :title => @estimated_times.select{ |et| et.issue_id == issue.id }.sort_by(&:plan_on).map(&:comments).join("\r")
              - else
                = "-"
            %td
              - if issue.total_spent_hours > 0.0
                = link_to html_hours("%.2f" % hours), {:controller => 'timelog', :action => 'index', :project_id => issue.project, :issue_id => issue, :period_type => 1, :user_id => @current_user.id}, :title => @time_entries.select{ |te| te.issue_id == issue.id }.sort_by(&:spent_on).map(&:comments).join("\r")
                %br
                = "(#{link_to html_hours("%.2f" % issue.total_spent_hours), {:controller => 'timelog', :action => 'index', :project_id => issue.project, :issue_id => issue, :period_type => 1, :user_id => @current_user.id}, :title => 'всего по задаче'})".html_safe
              - else
                = "-"
            %td
              - if issue.estimated_hours.to_f > 0.0
                = link_to html_hours("%.2f" % issue.estimated_hours), "/issues/#{issue.id}"
              - else
                = "-"
            - if Date.today.beginning_of_week > @current_date
              - confirmation = get_issue_confirmation(issue, @current_user, @current_date)
              %td{:align=>:center, :style => "border-left-width:3px;"}
                - if (hours > 0.0) && issue.project.is_external && has_confirm_record(issue, @current_user) && (issue.start_date <= (@current_date + 5))
                  = check_box_tag :kgip_check, "1", is_confirmer_checked(issue, :kgip_confirmation, @current_user, @current_date), :disabled => true, :title=> title_name_kgip(issue)
                  - if confirmation
                    %span{id: "add_comment_kgip_confirmation_#{confirmation.id}"}
                    %div{id: "comments-box-ctype0-id#{confirmation.id}"}
                      = render partial: 'planning_confirmations/comments', locals: {ctype: 0, confirm: confirmation, comments: confirmation.planning_confirmation_comments.kgips}
                - else
                  = "-"
              %td{:align=>:center, :style => "border-left-width:3px;"}
                - if (hours > 0.0) && has_confirm_record(issue, @current_user) && (issue.start_date <= (@current_date + 5))
                  - confirm_checked = is_confirmer_checked(issue, :head_confirmation, @current_user, @current_date)
                  - if confirm_checked == true
                    %span.yes-confirm{title:'Подтверждено: ' + title_name_confirmer(@current_user)} Да
                  - elsif confirm_checked == false
                    %span.no-confirm{title:'Не подтверждено: '+title_name_confirmer(@current_user)} Нет
                  - elsif confirm_checked.nil?
                    %span.wait-confirm{title:'Ожидает подтверждения: '+title_name_confirmer(@current_user)}
                  - if confirmation
                    %span{id: "add_comment_kgip_confirmation_#{confirmation.id}"}
                    %div{id: "comments-box-ctype1-id#{confirmation.id}"}
                      = render partial: 'planning_confirmations/comments', locals: {ctype: 1, confirm: confirmation, comments: confirmation.planning_confirmation_comments.heads}
                - else
                  = "-"
      %tfoot
        %tr
          %th{:colspan => 3}
            = l(:label_total)
          - 7.times do |day|
            %th= link_to_sum_hours_plan_on(day)
            %th= link_to_sum_hours_spent_on(day)
          %th
          %th
          %th
          - if Date.today.beginning_of_week > @current_date
            %th
            %th
        - if @workplace_times.any?
          %tr
            %th{:colspan => 3}
              = l(:label_workplace_time_plural)
            - 7.times do |day|
              - if workplace_time = @workplace_times[@current_date+day.days].try(:first)
                %th{:colspan => 2}
                  %span{:style => style_for_workplace_start_time(workplace_time), :title => title_for_workplace_start_time(workplace_time)}
                    = format_time(workplace_time.start_time, false)
                  = "-"
                  %span{:style => style_for_workplace_end_time(workplace_time), :title => title_for_workplace_end_time(workplace_time)}
                    = format_time(workplace_time.end_time, false)
  %p.other-formats
    = l(:label_export_to)
    = link_to 'CSV', params.merge(:format => :csv)
- else
  %p.nodata
    = l(:label_no_data)

%fieldset
  %legend= l(:label_issue_new)
  %form{:action => url_for({:controller => :issues, :action => :new}), :method => :get}
    %select{:id => 'project_id', :name => 'project_id', :class => "small", :onchange => "this.form.submit(); return false;"}
      %option{:selected => "selected"}
        = l(:label_select_project_for_new_issue)
      - @assigned_projects.each do |project|
        %option{:value => project.identifier}
          = project.name

- if my_planning? && @assigned_issues.any?
  %h2= l(:label_plan_time)
  = labelled_form_for @estimated_time do |f|
    = render :partial => 'form', :locals => {:f => f}
    = render :partial => 'google_calendar', :locals => {:f => f}
    = submit_tag l(:button_save), :disabled => false

%h2= l(:label_current_month_time_balance)
.box
  %p= l(:label_current_month_min, :count => "%.2f" % @month_min_possible_hours, :max => "%.2f" % @month_possible_hours)
  %p= l(:label_as_for_today, :count => "%.2f" % @today_spent_hours, :min =>"%.2f" % @today_min_possible_hours, :max =>"%.2f" % @today_possible_hours)
  %p
    - if @time_delta < 0
      = l(:label_you_should_describe, :amount => "%.2f" % @time_delta.abs)
    - else
      = l(:label_you_have_reserve, :amount => "%.2f" % @time_delta)

- html_title(l(:label_estimated_time_plural))
