.contextual
  = link_to t(:label_week_ago), params.merge(:current_date => @current_date - 1.week)
  = " | "
  %form{:method => :get}
    = hidden_field_tag :current_user_id, @current_user.id
    - exclude_filters.each do |key|
      - if params[:"exclude_#{key}"].present?
        = hidden_field_tag :"exclude_#{key}", params[:"exclude_#{key}"]
    - if @project.present?
      = hidden_field_tag :project_id, @project.identifier
    %select{:id => :current_date, :name => :current_date, :class => "small", :onchange => "this.form.submit(); return false;"}
      - @current_dates.each do |cur_date|
        - if @current_date == cur_date
          %option{:value => cur_date, :selected => "selected"}
            = format_date(cur_date)
        - else
          %option{:value => cur_date}
            = format_date(cur_date)
  = " | "
  = link_to t(:label_next_week), params.merge(current_date: @current_date + 1.week)
  = " | "
  = link_to t(:label_request_for_weekend), {current_date: @current_date, action: 'weekend'}
  = " | "
  = link_to l(:label_current_users_workload), controller: 'gantts', action: 'show', set_filter: 1, assigned_to_id: @current_user.id, months: 12, month: @current_date.month, year: @current_date.year, sort: 'priority:desc,updated_on:desc'


%h2=l(:label_estimated_time_plural)

%fieldset
  %legend= l(:label_filter_plural)
  %form{:method => :get}
    = hidden_field_tag :current_date, @current_date
    - exclude_filters.each do |key|
      - if params[:"exclude_#{key}"].present?
        = hidden_field_tag :"exclude_#{key}", params[:"exclude_#{key}"]
    - if @planning_manager.active_subordinates.any?
      %label{:for=>'current_user_id'}= l(:field_user) + ":"
      %select{:id => 'current_user_id', :name => 'current_user_id', :class => "small", :onchange => "this.form.submit(); return false;"}
        - @users.each do |user|
          - if @current_user.id == user.id
            %option{:value => user.id, :selected => "selected"}
              = user.name
          - else
            %option{:value => user.id}
              = user.name

  %form{:method => :get}
    = hidden_field_tag :current_date, @current_date
    = hidden_field_tag :current_user_id, @current_user.id
    - exclude_filters.each do |key|
      - if params[:"exclude_#{key}"].present?
        = hidden_field_tag :"exclude_#{key}", params[:"exclude_#{key}"]
    %label{:for=>'project_id'}= l(:field_project) + ":"
    %select{:id => 'project_id', :name => 'project_id', :class => "small", :onchange => "this.form.submit(); return false;"}
      %option{:value => ""}
        = l(:label_project_all)
      - @assigned_projects.each do |project|
        - if params[:project_id] == project.identifier
          %option{:value => project.identifier, :selected => "selected"}
            = project.name
        - else
          %option{:value => project.identifier}
            = project.name
  - if @project.present?
    = link_to l(:label_issue_new), {:controller => :issues, :project_id => @project.identifier, :action => :new}, :class => 'icon icon-add'

  %br

  - exclude_filters.each do |key|
    - if params[:"exclude_#{key}"].present?
      = link_to l(:"label_include_#{key}"), params.merge( :"exclude_#{key}" => nil)
    - else
      = link_to l(:"label_exclude_#{key}"), params.merge( :"exclude_#{key}" => 1)
    = " / " unless key == exclude_filters.last

  = ' / '

  = form_tag(save_planning_preferences_path, remote: true) do
    - exclude_filters.each do |key|
      - if params[:"exclude_#{key}"].present?
        = hidden_field_tag :"exclude_#{key}", params[:"exclude_#{key}"]
    = submit_tag l(:label_planning_preferences_save)

    = link_to l(:label_planning_preferences_destroy), drop_planning_preferences_path(params)

- if @assigned_issues.any?
  %table.list
    %thead
      %tr
        %th{:rowspan => 2}="#"
        %th{:rowspan => 2}= l(:field_subject)
        %th{:rowspan => 2}= l(:field_deadline)
        - 7.times do |day|
          %th{:colspan => 2}= (@current_date + day.days).strftime("%d.%m")
        %th{:colspan => 2}= l(:label_total)
      %tr
        - 8.times do
          %th= l(:label_plan)
          %th= l(:label_spent)
    %tbody
      - @project_issues.each do |project, issues|
        %tr
          - if project.present?
            %th{:colspan => 19, :align => :center}
              = link_to project.name, {:controller => :issues, :project_id => project.identifier, :action => :new}, :class => 'icon icon-add'
        - issues.each do |issue|
          %tr.even{:class => issue.css_classes}
            %td.id
              = link_to issue.id, issue_path(issue), :title => issue.subject
            %td.subject
              = link_to issue.subject, issue_path(issue), :title => issue.project
              = "(#{issue.status})"
            %td.deadline{:align => :center}
              = issue_dates(issue)
            - 7.times do |day|
              %td{:align=>:center, :style => "border-left-width:3px;", :class => ("odd" if day >= 5)}
                = link_to_plan(issue, day)
              %td{:align=>:center, :style => "border-right-width:3px;", :class => ("odd" if day >= 5)}
                = link_to_spent(issue, day)
            %td{:align=>:center}
              - if estimated_time_sum = @estimated_time_sum[issue.id]
                = link_to html_hours("%.2f" % estimated_time_sum.map(&:hours).sum(0.0)), {:action => :list, :issue_id => issue.id, :current_user_id => @current_user.id}, :title => @estimated_times.select{ |et| et.issue_id == issue.id }.sort_by(&:plan_on).map(&:comments).join("\r")
              - else
                = "-"
            %td
              - if issue.total_spent_hours > 0.0
                = link_to html_hours("%.2f" % issue.total_spent_hours), {:controller => 'timelog', :action => 'index', :project_id => issue.project, :issue_id => issue, :period_type => 1}, :title => @time_entries.select{ |te| te.issue_id == issue.id }.sort_by(&:spent_on).map(&:comments).join("\r")
              - else
                = "-"
      %tfoot
        %tr
          %th{:colspan => 3}
            = l(:label_total)
          - 7.times do |day|
            %th
              - sum = sum_hours_plan_on(day)
              %span{:style => style_for_sum(sum)}
                = html_hours("%.2f" % sum)
            %th
              - sum = sum_hours_spent_on(day)
              %span{:style => style_for_sum(sum)}
                = html_hours("%.2f" % sum)
          %th
          %th
        - if @workplace_times.any?
          %tr
            %th{:colspan => 3}
              = l(:label_workplace_time_plural)
            - 7.times do |day|
              - if workplace_time = @workplace_times[@current_date+day.days].try(:first)
                %th{:colspan => 2}
                  %span{:style => style_for_workplace_start_time(workplace_time), :title => title_for_workplace_start_time(workplace_time)}
                    = format_time(workplace_time.start_time, false)
                  = "-"
                  %span{:style => style_for_workplace_end_time(workplace_time), :title => title_for_workplace_end_time(workplace_time)}
                    = format_time(workplace_time.end_time, false)
  %p.other-formats
    = l(:label_export_to)
    = link_to 'CSV', params.merge(:format => :csv)
- else
  %p.nodata
    = l(:label_no_data)

%fieldset
  %legend= l(:label_issue_new)
  %form{:action => url_for({:controller => :issues, :action => :new}), :method => :get}
    %select{:id => 'project_id', :name => 'project_id', :class => "small", :onchange => "this.form.submit(); return false;"}
      %option{:selected => "selected"}
        = l(:label_select_project_for_new_issue)
      - @assigned_projects.each do |project|
        %option{:value => project.identifier}
          = project.name

- if my_planning? && @assigned_issues.any?
  %h2= l(:label_plan_time)
  - form = labelled_form_for @estimated_time do |f|
    = render :partial => 'form', :locals => {:f => f}
    = render :partial => 'google_calendar', :locals => {:f => f}
    = submit_tag l(:button_save), :disabled => false
  = form if Rails::VERSION::MAJOR >= 3

%h2= l(:label_current_month_time_balance)
.box
  %p
    %i= l(:label_time_balance_disclaimer)

  %p= l(:label_current_month_min, :count => "%.2f" % @month_min_possible_hours, :max => "%.2f" % @month_possible_hours)
  %p= l(:label_as_for_today, :count => "%.2f" % @today_spent_hours, :min => @today_min_possible_hours, :max => @today_possible_hours)
  %p
    - if @time_delta < 0
      = l(:label_you_should_describe, :amount => "%.2f" % @time_delta.abs)
    - else
      = l(:label_you_have_reserve, :amount => "%.2f" % @time_delta)

- html_title(l(:label_estimated_time_plural))
