.contextual
  = link_to "неделей раньше", {:current_date => @current_date - 1.week}.merge(params)
  = " | "
  - form_tag({}, :method => :get) do
    %select{:id => :current_date, :name => :current_date, :class => "small", :onchange => "this.form.submit(); return false;"}
      %option
      - @current_dates.each do |cur_date|
        - if params[:current_date] == cur_date.to_s
          %option{:value => cur_date, :selected => "selected"}
            = format_date(cur_date)
        - else
          %option{:value => cur_date}
            = format_date(cur_date)
  = " | "  
  = link_to "неделей позже", {:current_date => @current_date + 1.week}.merge(params)

%h2=l(:label_estimated_time_plural)

- form_tag({}, :method => :get) do
  %fieldset
    %legend= l(:label_filter_plural)

    = hidden_field_tag :current_date, @current_date
    - if User.current.allowed_to?(:change_current_user, nil, :global=>true)
      %label{:for=>'current_user_id'}= l(:field_user) + ":"
      %select{:id => 'current_user_id', :name => 'current_user_id', :class => "small", :onchange => "this.form.submit(); return false;"}
        - User.active.all(:order => "lastname, firstname").each do |user|
          - if @current_user.id == user.id
            %option{:value => user.id, :selected => "selected"}
              = user.name
          - else
            %option{:value => user.id}
              = user.name
              
    %label{:for=>'project_id'}= l(:field_project) + ":"
    %select{:id => 'project_id', :name => 'project_id', :class => "small", :onchange => "this.form.submit(); return false;"}
      %option
      - @assigned_projects.each do |project|
        - if params[:project_id] == project.identifier
          %option{:value => project.identifier, :selected => "selected"}
            = project.name
        - else
          %option{:value => project.identifier}
            = project.name


%table.list
  %thead
    %tr
      %th{:rowspan => 2}="#"
      %th{:rowspan => 2}= l(:field_subject)
      %th{:rowspan => 2}= l(:field_deadline)      
      %th{:colspan => 2}= (@current_date).strftime("%d.%m")
      %th{:colspan => 2}= (@current_date + 1.day).strftime("%d.%m")
      %th{:colspan => 2}= (@current_date + 2.days).strftime("%d.%m")
      %th{:colspan => 2}= (@current_date + 3.days).strftime("%d.%m")
      %th{:colspan => 2}= (@current_date + 4.days).strftime("%d.%m")
      %th{:colspan => 2}= (@current_date + 5.days).strftime("%d.%m")
      %th{:colspan => 2}= (@current_date + 6.days).strftime("%d.%m")
      %th{:colspan => 2}= l(:label_total)
    %tr
      - 8.times do
        %th= l(:label_plan)
        %th= l(:label_spent)
  %tbody  
    - @assigned_issues.each do |issue|
      %tr
        %td.id
          = link_to issue.id, issue_path(issue), :title => issue.subject
        %td.subject
          = link_to issue.subject, issue_path(issue), :title => issue.project
          = "(#{issue.status})"
        %td.deadline{:align => :center}
          = issue_dates(issue)
        - 7.times do |day|
          %td{:align=>:center}
            = link_to_plan(issue, day)
          %td{:align=>:center}
            = link_to_spant(issue, day)
        %td{:align=>:center}
          = EstimatedTime.find(:all, :conditions => {:issue_id => issue.id, :user_id => @current_user}).map{|i| i.hours }.sum(0.0)
        %td
          - if User.current == @current_user
            = link_to issue.total_spent_hours, {:controller => 'timelog', :action => 'index', :project_id => issue.project, :issue_id => issue, :period_type => 1}
          - else
            = issue.total_spent_hours
    %tr
      %th{:colspan => 3}
        = l(:label_total)        
      - 7.times do |day|
        %th
          - sum = sum_hours_plan_on(day)
          %span{:style => style_for_sum(sum)}
            = sum
        %th
          - sum = sum_hours_spent_on(day)
          %span{:style => style_for_sum(sum)}
            = sum
      %th
      %th         
- if User.current == @current_user
  %h2= l(:label_plan_time)
  - labelled_form_for @estimated_time do |f|
    = render :partial => 'form', :locals => {:f => f}
    = submit_tag l(:button_save), :disabled => false

- html_title(l(:label_estimated_time_plural))
