%h2
  =link_to l(:label_estimated_time_plural), :action => :index

%fieldset
  %legend= l(:label_filter_plural)
  - form_tag({}, :method => :get) do
    - exclude_filters.each do |key|  
      - if params[:"exclude_#{key}"].present?
        = hidden_field_tag :"exclude_#{key}", params[:"exclude_#{key}"]    
    - if @planning_manager.workers.any?
      %label{:for=>'current_user_id'}= l(:field_user) + ":"
      %select{:id => 'current_user_id', :name => 'current_user_id', :class => "small", :onchange => "this.form.submit(); return false;"}
        - ([User.current] + @planning_manager.workers).sort_by(&:name).each do |user|
          - if @current_user.id == user.id
            %option{:value => user.id, :selected => "selected"}
              = user.name
          - else
            %option{:value => user.id}
              = user.name
              
  - form_tag({}, :method => :get) do
    = hidden_field_tag :current_user_id, @current_user.id
    - exclude_filters.each do |key|  
      - if params[:"exclude_#{key}"].present?
        = hidden_field_tag :"exclude_#{key}", params[:"exclude_#{key}"]      
    %label{:for=>'issue_id'}= l(:field_issue) + ":"
    %select{:id => 'issue_id', :name => 'issue_id', :class => "small", :onchange => "this.form.submit(); return false;"}
      %option{:value => ""}
        = l(:label_issue_view_all)
      - @assigned_issues.each do |issue|
        - if params[:issue_id].to_i == issue.id
          %option{:value => issue.id, :selected => "selected"}
            = "##{issue.id}:"
            = issue.subject
            = "(#{issue.status})"
        - else
          %option{:value => issue.id}
            = "##{issue.id}:"          
            = issue.subject
            = "(#{issue.status})"

- if @estimated_times.any?
  = render :partial => 'list', :locals => {:entries => @estimated_times}
- else
  %p.nodata
    = l(:label_no_data)

- html_title(l(:label_estimated_time_plural))
