%h2
  =link_to l(:label_estimated_time_plural), :action => :index

%fieldset
  %legend= l(:label_filter_plural)
  %form{:method => :get}
    - if @planning_manager.subordinates.any?
      %label{:for=>'current_user_id'}= l(:field_user) + ":"
      %select{:id => 'current_user_id', :name => 'current_user_id', :class => "small", :onchange => "this.form.submit(); return false;"}
        - ([User.current] + @planning_manager.subordinates.map(&:principal)).sort_by(&:name).each do |user|
          - if @current_user.id == user.id
            %option{:value => user.id, :selected => "selected"}
              = user.name
          - else
            %option{:value => user.id}
              = user.name

  %form{:method => :get}
    = hidden_field_tag :current_user_id, @current_user.id
    %label{:for=>'issue_id'}= l(:field_issue) + ":"
    %select{:id => 'issue_id', :name => 'issue_id', :class => "small", :onchange => "this.form.submit(); return false;"}
      %option{:value => ""}
        = l(:label_issue_view_all)
      - @assigned_issues.sort_by(&:id).each do |issue|
        - if params[:issue_id].to_i == issue.id
          %option{:value => issue.id, :selected => "selected"}
            = issue.tracker
            = "##{issue.id}:"
            = issue.subject
            = "(#{issue.status})"
        - else
          %option{:value => issue.id}
            = issue.tracker
            = "##{issue.id}:"
            = issue.subject
            = "(#{issue.status})"
  %br

  %form{:method => :get}
    = hidden_field_tag :current_user_id, @current_user.id
    = hidden_field_tag :issue_id, params[:issue_id]

    %label{:for=>'start_date'}= l(:label_start_date) + ":"
    = text_field_tag :start_date, params[:start_date], :size => 10, :onchange => "this.form.submit(); return false;"
    = calendar_for('start_date')

    %label{:for=>'end_date'}= l(:label_end_date) + ":"
    = text_field_tag :end_date, params[:end_date], :size => 10, :onchange => "this.form.submit(); return false;"
    = calendar_for('end_date')


- if @estimated_times.any?
  = render :partial => 'list', :locals => {:entries => @estimated_times}
  %p.other-formats
    = l(:label_export_to)
    = link_to 'CSV', params.merge(:format => :csv)
- else
  %p.nodata
    = l(:label_no_data)

- html_title(l(:label_estimated_time_plural))
